.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.section {
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    margin: 15px auto;
    font-family: inherit;
    padding: 30px;
    border-radius: 7px;
    background-color: rgba(66, 55, 55, 0.4);
}

.dateContainer {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.titleContainer {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 8px;
}

.descriptionContainer .companyContainer {
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
}
.companyContainer  {
    color: #fff;
}
.descriptionContainer {
    margin-bottom: 16px;
}

.sectionName {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

/*Escritorio*/
@media (min-width: 1199.98px)  {

}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .section {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {

}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    .section {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .section {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
/*fin movil*/